<%= form_for(@unit_action_type) do |f| %>
  <% if @unit_action_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit_action_type.errors.count, "error") %> prohibited this unit_action_type from being saved:</h2>

      <ul>
      <% @unit_action_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :description_template %><br>
    <%= f.text_area :description_template %>
  </div>
  <div class="field">
    <%= f.label :results_template %><br>
    <%= f.text_area :results_template %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
